body{
    background: linear-gradient(to right, #a6d6d6, #e1e5ea);
}
.container{
    width: 30%;
    margin-top: 2%;
    background: linear-gradient(to right, #a6d6d6, #e1e5ea);
    position:relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    padding-top: 1%;
}
input
{
    justify-content: center;
    width: 100%;
    padding: 11px 10px;
    margin-top: 8px; 
    margin-bottom: 8px; 
    box-sizing: border-box;
    background: linear-gradient(to right, #a6d6d6, #e1e5ea);
    border-radius: 5px;
    border-width: 1px;
    font-size: 18px;
}
::placeholder{
    color:rgb(36, 35, 35);
}
select{
    width: 100%;
    padding: 11px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    background: linear-gradient(to right, #a6d6d6, #e1e5ea);
    border-radius: 5px;
    font-size: 18px;
}
button{
    margin-top: 1%;
    margin-bottom: 2%;
}
input:hover, select:hover, button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input:focus, select:focus, button:focus{
    outline: 0;
}
@media only screen and (max-width: 786px) {
    .container {
      width: 80%;
    }
    h2{
        font-size: 25px ;
    }
  }
